* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  /* font-family: "Rajdhani", sans-serif; */

}



:root {
  --primary-color: #507d3c;
  --secondary-color: #FF7C00;
  --teritary-color: #EEEEEE;
  --teritary-color: #EEEEEE;
  --white-color: #ffffff;
  --fade-color: #E4FFE2;
  --roboto-font: "Roboto", sans-serif;
  --roboto-font: "Roboto", sans-serif;

}

h1 {
  font-size: 48px;
  font-weight: 900;




}

/* p{
  font-family: "Philosopher", sans-serif  !important;
  font-weight: 500;

} */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Yatra One", system-ui;
}

h2 {
  font-size: 40px;
  font-weight: 800;

}

.aboutUsImgLeft {
  border-radius: 20px;
  background-color: var(--fade-color);
}

/* .bg-body-tertiary .navbar .navbar-expand-lg{ */
.navbar.navbar-expand-lg {
  background-color: var(--primary-color) !important;

}

.navMainBar {
  z-index: 1000;
}

.navbar a {
  font-size: 13px;
  /* font-weight: 500; */
}

.blackteaht.card {
  border: none;
}

.blackteaht .card-body {
  transition: 2s;
  position: absolute;
  /* top: 100px; */
  /* left:-100px; */
  opacity: 0;
  transform: translateX(-100px);
  bottom: 8px;
  padding: 10px;
  border-radius: 0px 20px 20px 0px;
}

.showmorebtn svg {
  color: var(--secondary-color);
  text-align: end;

}

.showmorebtn a {
  color: var(--secondary-color) !important;

}

.blackteaht:hover .card-body {
  transition: 2s;
  opacity: 1;
  transform: translateX(0px);

}

.aboutUsSection {
  background-color: var();
}

.shopCart {
  font-size: 30px;
}

.navbar {
  position: sticky;
  top: 38PX;
  z-index: 1000;
  width: 100%;
  margin-bottom: 100PX;
}

.navbar a {
  transition: 0.8s;
}

.navbar a:hover {
  color: var(--secondary-color) !important;


}

body {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

.teaManuSec,
.aboutUsSection,
.OurTeas,
.teaManuSec,
.shopNowSec,
.ourProducts {
  padding: 50px 10px;
}

.ourProducts li {
  color: var(--primary-color);
}

.ourProducts h2 {
  color: var(--secondary-color);
  text-align: center;
}

.aboutUsSection,
.OurTeas {
  background-color: var(--fade-color);

}

.welcomeSec h1 {
  /* color: var(--secondary-color); */
  color: var(--primary-color);

}

.welcomeSec {
  padding: 100px 0px;

}

.footerSec a {
  color: black !important;
}

.footerSec li {
  list-style-type: none;
  padding: 6px 0px;
}

/* WebKit */
::-webkit-scrollbar {
  width: 5px;
  height: 100px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  height: 8px;
  /* Decrease the height of the scrollbar */
}

::-webkit-scrollbar-thumb {
  background-color: var(--secondary-color);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #309800;
}



.contentSec {
  margin-top: 50px;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0 !important;
}


.navbar-brand {
  color: white !important;
}



a.nav-link {
  color: white !important;
}


.navbar-toggler {
  color: white;
}

.nav-link:focus,
.nav-link:hover {
  color: rgb(224 255 0 / 80%) !important;
}

.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: none !important;

}

.navbar-toggler-icon {
  background-image: none !important;
}

.menuIcon {
  color: white;
}

.cart {
  color: white;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.introBanner {
  background-image: url(../public/images/banner-main.png);

}



/* header styles */

.heading {
  color: white;
  padding-top: 150px;
  background-image: url('./images/secOneBg.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;

}

.cont {
  color: white !important;
  font-weight: 800;
  font-family: "Aclonica", sans-serif;
}

.login {
  /* background-image: url('./images/backdrop.jpg'); */
  height: 100vh;
  width: 100%;
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
}

label {
  color: #479909;
  font-size: 18px;
}

input {
  height: 40px;
}

.remfor {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.forgotpass {
  background-image: url(./images/backdrop.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;

}

.forgotpage {

  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.remfor a {
  color: #309800 !important;
  font-size: 15px !important;
  cursor: pointer;
}


.logintxt {
  color: #309800 !important;
  font-size: 10px !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid #309800 !important;
}

.carousel .control-next.control-arrow:before {
  border-right: 8px solid #309800;
  transform: rotate(180deg);

}




.carousel.carousel-slider .control-arrow {
  background-color: white !important;
  color: #000 !important;
}


.processimg {
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
}

/* .tea {
  height: 200px !important;
  width: 200px !important;

} */

.otherproduct {
  height: 200px !important;
  width: 200px !important;
  border-radius: 50% !important;

}

.bg-image {
  margin-top: 80px;
}




.bannnerBtn {
  background-color: var(--primary-color);
  color: var(--teritary-color);
  border: none;
  padding: 10px 15px;
  border-radius: 1px 20px;
  transition: 1s;
}

/* .bannnerBtn:hover {
  background-color: var(--secondary-color);
} */
.prodCardImg img {
  border-radius: 15px 15px 0px 0px;
  height: 200px;
  width: 100%;
}

.aboutUs h3 {
  color: var(--primary-color);

}

.aboutUs h2 {
  color: var(--secondary-color);
  /* list-style-image: url(); */


}

.aboutUs li {
  margin: 10px 0;
  padding-left: 40px;
  background: url('./images/iconTea.png') no-repeat left center;
  background-size: 30px 30px;
}


.aboutUs li {
  list-style-type: none;
  line-height: 35px;

}

.aboutUs p,
li {
  line-height: 32px;
  margin: 10px 0;
}


.prodCont {

  background-color: #e5e7a8;
  padding: 10px 10px 20px;
  border-radius: 0px 0px 15px 15px;
}

.outer-BannerCont h6 {
  font-size: 18px;
}

.outer-BannerCont h1 {
  font-size: 52px;
  /* color: var(--primary-color);} */
  color: #309800;
}

.outer-BannerCont {
  background-color: #333;
  /* background-image: url(./images/secOneBg.png); */
  /* Replace with your image URL */
  /* background-size: cover; */
  /* background-position: center; */
  /* background-repeat: no-repeat;/ */
  /* height: 580px; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blogSection,
.aboutUs {
  padding-top: 165px;
  padding-bottom: 50PX;
}


.inner-BannerCont {

  background-color: rgba(255, 255, 255, 0.8);
  /* Light background color with transparency */
  padding-top: 150px;
  padding-bottom: 50px;

  width: 100%;
  border-radius: 10px;

}

.blogCardMain h5 {
  color: var(--secondary-color);
}

.blogSection h1 {
  color: var(--primary-color);
}

.blogCardMain {
  height: fit-content;
  width: fit-content;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: 0.2px 0.2px 3px var(--primary-color);
}

.blogCardMain b {
  color: var(--primary-color);
}

.inner-BannerCont h1 {
  color: #b1b23a;
}

.inner-BannerCont h6 {
  line-height: 30px;
  color: #646c1a;
}



.productPrice svg {
  color: var(--primary-color);
}

.blackteaht img {
  height: 185px;
  transition: 1.3s;

}

.blackteaht {
  overflow: hidden;


}

.blackteaht:hover img {
  transform: scale(1.2);

}


/* .changeht img {
  height: 500px;
  width: 50% !important;
} */

.carousel .slide .legend {
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20% !important;
  width: 40% !important;
  border-radius: 10px;
  background: none !important;
  color: #fff;
  padding: 10px;
  font-size: 12px;
  text-align: center;
  transition: opacity .35s ease-in-out;
  background: #37520B !important;
}

/* .carousel .slide .legend:hover {
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: 40px;
  left: 50%;
  margin-left: -20% !important;
  width: 40% !important;
  border-radius: 10px;

  color: #fff;
  padding: 10px;
  font-size: 12px !important;
  text-align: center;
  opacity: 0.25;
  transition: opacity .35s ease-in-out;
} */

a {
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  /* font-size: 20px !important; */
}

button .legend {
  color: white !important;

}



.outerButnCont h1 {
  padding: 0px 10px;

}

.outerButnCont {
  display: flex;
  align-items: center;
  width: fit-content;
  height: fit-content;
  border: 5px solid #445835 !important;
  border-radius: 5px;

}


.card-body {


  color: white !important;
  background-color: var(--primary-color);
  border: none;
  z-index: 1;
}

input,
optgroup,
select,
textarea {
  border: 1px solid #445835;
  padding: 10px;
  border-radius: 5px;
}



.carousel .carousel-status {
  position: none !important;
  top: none !important;
  right: none !important;
  padding: 0px !important;
  font-size: 0px !important;
  text-shadow: none !important;
  color: #fff;
}

.card-title {

  margin-bottom: 0px !important;
}

/* SectionThree.css */

.tea-img {
  transition: transform 0.6s ease-in-out;
  /* Smooth transition for scaling */
}

.tea-img:hover {
  transform: scale(1.1);
  /* Scale the image by 10% on hover */
}

.teatextht {
  margin-top: 20px;

}

.tea-img:hover {
  cursor: pointer;
}

.aboutusimg {
  height: 300px;
}

.abtimgone img {

  height: 500px;
  background-color: #e1f3d2;
}


.complete {
  background-color: #e1f3d2;
}




.shoptxt {
  color: #37520B !important;
  font-size: medium;
}


.addicon {
  font-size: 25px;
  font-weight: bold;
  padding: 5px;

}

.card-img-top {
  height: 250px;
}

.checkimg {
  height: 80px;
  width: 120px;
}

.imgCont {
  height: 200px;
  width: 200px;

}

.imgCont img {
  width: 100%;
}

img,
svg {
  vertical-align: middle;
  color: white;

}

.goCart {
  color: rgb(255, 255, 255) !important;
  margin-left: 10px;

}

.countCont {
  color: #37520B;
  font-size: 25px;

}

.productImgCard {
  height: 230px;
  width: 100%;
}


.login-container {
  width: 400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 20px;
  border: 1px solid #ffffff;
  background-color: #d3ecc0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blogimg {
  height: 250px !important;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.control-arrow {
  display: none;
}

.footer {
  background-image: url(./images/Desktop\ -\ 26.png);
  height: fit-content;
  background-position: bottom;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.abtpgimg {
  background-image: url(./images/abtpgimg.jpg);
  height: 400px;
  background-size: cover;
  animation-name: zoom-in;

  animation-duration: 2s;
  animation-iteration-count: infinite;

  animation-direction: alternate;
}

.submitBtn {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 100px;


  border: none;
  border-radius: 15px;
}

@keyframes zoom-in {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.02);
  }

}

.abtpgimg:hover {
  transform: scale(1.01);
}

/* button styles */


.shopnowbtn {
  width: 10%;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}
.shopnowbtn {
  width: 20%;
  background-color: var(--primary-color);
  border: none;
  border-radius: 5px;
}

.aboutUsCont p {
  line-height: 1.6;
}




.btn-green {
  background-color: var(--primary-color);
  color: var(--white-color);
  border: none;
  padding: 5px 10px;
  border-radius: 10px;
  transition: 1.5S;

}

.btn-green:hover {
  background-color: var(--secondary-color);

  color: var(--white-color);
  /* border: none !important; */
  padding: 5px 10px;
  border-radius: 10px;

}

.submitbtn {
  width: 40%;
  margin-top: 10px;
}

.btnlogin {
  border: none !important;
  background-color: var(--primary-color) !important;
  color: white !important;
  cursor: pointer;
  padding: 5px;
  border-radius: 5px;
}

.btnlogin a {
  color: white !important;

}

.btn-primary {
  --bs-btn-border-color: none !important;
}

.btns {
  /* background-color: rgb(146, 219, 146); */
  border-radius: 10px;
}


.btn1 {
  border-radius: 0px !important;
}

.btn2 {
  border-radius: 0px !important;
}

.btn-danger {

  margin-left: 10px !important;
  --bs-btn-border-color: none !important;
}

.btncart {
  width: 50% !important;
}

.entrySec {
  position: relative;
  height: fit-content;
}

.btnshop {
  width: 200px;
  position: absolute;
  /* top: -100px; */
  left: 65px;
  bottom: 230px;
  padding: 10px 20px;
}

nav {
  position: fixed !important;
}

button.navbar-toggler {
  border-color: #445835 !important;
}



.outerButnCont button {
  cursor: pointer;
  border: none;
  margin: 10px;
  padding: 10px;
  color: white;
  background-color: #445835 !important;
}

.outerButnCont button {
  margin: 0px !important;
}

h2 {
  font-size: 42px !important;
}

.ourProducts {
  background-color: var(--fade-color);
}

.otherProductsSection {
  padding: 20px;
  /* background-color: #f9f9f9;
  border: 1px solid #ddd; */
  border-radius: 8px;
  max-width: 600px;
  margin: auto;
  text-align: left;
}

.teaManuSec h2,
.shopNowSec h2 {
  color: var(--primary-color);
}

.otherProductsSection h2 {
  color: #333;
  font-size: 24px;
  margin-bottom: 15px;
  text-align: center;
}

.text-secondaryClr {
  color: var(--secondary-color);
}

.text-primaryClr {
  color: var(--primary-color);
}

.productList {
  list-style-type: none;
  padding: 0;
}

.contactUsSec svg {
  color: var(--primary-color);
  font-size: 23px;
  transition: 1s;
}

.contactUsSec .contacticon {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: var(--fade-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  padding: 5px;

  border-radius: 50%;
}

.contactUsSec .contacticon:hover svg {
  color: var(--secondary-color);
  /* transform: rotateY(360deg); */
  transition: 1.2s;
}

.inner-BannerCont .contacticon svg {
  color: var(--primary-color);
  font-size: 22px;
}

.inner-BannerCont .contacticon {
  height: 40px;
  width: 40px;
  display: inline-block;
  background-color: var(--fade-color);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 20px;
  padding: 5px;

  border-radius: 50%;
}

.inner-BannerCont .contacticon:hover svg {
  color: var(--secondary-color);
  /* transform: rotateY(360deg); */
  transition: 1.2s
}

.contactUsSec H2 {
  color: var(--primary-color);
}


.contactUsSec label {
  color: var(--secondary-color);
  font-size: 18px;
}

iframe {
  height: 100%;
  margin: 0;
  padding: 0;
  /* border: red; */
  border: 2px solid var(--primary-color) !important;
  border-radius: 34px;
  padding: 20px;
}

.form-control:focus {
  color: var(--bs-body-color);

  border-color: var(--secondary-color) !important;
  outline: 0;
  box-shadow: 0.1px 0.1px 2px var(--secondary-color) !important;
}



.productList li {
  font-size: 18px;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.productList strong {
  color: var(--primary-color);
  display: block;
  margin-bottom: 5px;
}

.productList p {
  margin: 0;
  font-size: 16px;
  color: #666;
}

.aboutUsSection h2,
.OurTeas h2 {
  color: var(--secondary-color);
}

footer.bg-light {
  background-color: rgb(228 255 226) !important;
}

button.navbar-toggler {
  margin: 0px !important;
}

.resetbtn {
  width: 40%;
}

.navbar-toggler {
  padding: 0PX;
  border: none;
}

.navbar-toggler svg {
  margin-top: 0px;
  border: none;
}

button.navbar-toggler {
  border: none;
}

footer h6 {
  color: var(--primary-color);
}


.addToCartProd {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 22px;
  border: none;
  border-radius: 20px;

}

.placeorderProd {
  background-color: var(--primary-color);
  color: white;
  padding: 5px 22px;
  border: none;
  border-radius: 20px;
  width: 20%;
}

@media only screen and (min-width:992px) {
  span.navCartLeft {
    display: none !important;
  }
}

@media only screen and (max-width:992px) {
  span.navCartRight {
    display: none !important;
  }


  .btnshop {
    width: 150px;
    position: absolute;
    /* top: -100px; */
    left: 50px;
    bottom: 80px;
    padding: 10px 20px;
  }
}

.topOfferBar {
  background-color: #996e45;
  color: white;
  height: fit-content;
  padding: 10px 0px;
  font-size: 12px;
  position: fixed;
  top: 0px;
  text-align: center;
  width: 100%;
  z-index: 1000;
  animation: zoom-in-out 5s infinite;


}

@keyframes zoom-in-out {
  0% {
    transform: scale(1);

  }

  50% {
    transform: scale(1.2);

  }

  100% {
    transform: scale(1);

  }
}

@media only screen and (max-width:768px) {
  .outer-BannerCont h1 {
    font-size: 32px;
  }

  .topOfferBar {

    font-size: 8px;

  }

  .navbar {
    position: sticky;
    top: 32PX;


  }

  .heading {
    height: 100vh;
    width: 100%;
    color: white;
    background-image: url('./images/secOneBg.png');
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
  }

  .aboutimg,
  .processimg {
    height: 50vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
  }



  .abtimgone img {
    height: 500px;
    background-color: #e1f3d2;
    width: 60%;
  }

  .aboutusimg {
    height: 250px;
  }
}


@media only screen and (max-width: 568px) {
  .btnshop {
    width: 129px;
    position: absolute;
    /* top: -100px; */
    left: 50px;
    bottom: 30px;
    padding: 4px 13px;
  }

  .productCardOuter {
    width: 280px;
  }

  .inner-BannerCont {
    padding-top: 100px;
    padding-bottom: 30px;
  }

}

.fa,
.fa-brands,
.fa-classic,
.fa-regular,
.fa-sharp-solid,
.fa-solid,
.fab,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: var(--fa-display, inline-block);
  font-style: normal;
  font-variant: normal;
  line-height: 1;
  text-rendering: auto;
  color: var(--primary-color);


}

.conthead {
  color: var(--primary-color);
}

p.remcont {
  color: var(--primary-color);
  margin-bottom: 0px !important;
}

.endline {
  color: grey;
}
.bannnerBtn:hover {
color:var(--primary-color);
background-color: white;
border: 2px solid var(--primary-color);
}
.totalprice{
  height: 50px;
  width: 210px;
  background-color:var(--secondary-color);
  color: white;
  border-radius: 10px;
  text-align: center;
 
}